@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

@import "~bootstrap/scss/bootstrap";

#app {
  font-family: 'Montserrat', Arial, sans-serif;
  color: #2c3e50;
}

.logo a {
  color: #2c3e50;
}
.logo a:hover {
  color: #2c3e50;
  text-decoration: none;
}
.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.list-filter {
  margin: 10px 0;
}
